body {
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
}

#app {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.emote-el {
    position: absolute;
    object-fit: contain;
}